name: Test action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup schemafixer
        uses: ./
        with:
          version: 'latest'

      - name: Verify installation
        run: schemafixer --version

      - name: test apply defaults
        run: |
          cd test
          schemafixer apply testdb.df defaults.yaml > actual-defaults.df
          diff -u expected-defaults.df actual-defaults.df
          cat actual-defaults.df

      - name: test apply case1
        run: |
          cd test
          schemafixer apply testdb.df case1.yaml 

      - name: test diff case1 with defaults
        run: |
          cd test
          schemafixer diff testdb.df actual-defaults.df
